.privacy p, .privacy ul, .privacy li, .privacy a {
  text-align: justify;
  text-wrap: pretty;
  word-wrap: break-word;
}

.privacy h1 {
  margin-top: 25px;
}

.privacy h2 {
  margin-top: 20px;
}

.privacy h3 {
  margin-top: 15px;
}

.privacy h4 {
  margin-top: 10px;
}